---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="About Us">
    <main>
        <h1>About Blue Dwarf Space</h1>

        <p>
            We are still very new on the scene, and don’t have a whole lot to
            show you yet. But we do have a great vision, and the right team to
            turn that into reality.
        </p>
        <p>
            We are excited about your space project, and we want to enable you
            to do what you do best. We know how difficult the process is to move
            your mission from planning to action, and we want to do our part to
            get you there.
        </p>
        <p>
            Our plan is to work with Government and industry to tie down and
            perfect the Australian space activities permit application process,
            ensuring it is repeatable and automatable, and then provide you with
            a tool that will provide you with a single data entry point and a
            simplified process to take you from the very start of your mission
            through to having a fully approved permit. We will line up the
            industry experts, the reports, the certificates, any of the
            regulatory processes required to help you achieve your goal.
        </p>
        <p>
            Leave the tedium and confusion to us; we see some red tape and we
            want to paint it black.
        </p>
    </main>
</DefaultLayout>

<style>

</style>
