---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Steps from "../components/StepsAbout.svelte";
---

<DefaultLayout title="About">
    <main>
        <Steps client:load />
    </main>
</DefaultLayout>