---
import NavGroup from "../components/NavGroup.astro";
---
    <main>

        <div class="snap-y snap-mandatory h-screen w-screen overflow-scroll">
            
            
            
            
<!-- screen 1 - Mission -->
            <div class="snap-start bg-base-100 w-screen h-screen flex items-center justify-center text-8xl">
                <div id="mission" class="content leading-normal mx-auto py-12 px-4">
                    <div>
                        <h1 class="text-5xl font-bold">Our mission is to make space reachable to all</h1>
                        <h1 class="text-5xl font-bold">by fundamentally changing industry processes,</h1>
                        <h1 class="text-5xl font-bold">creating a frictionless path by resolving the red tape,</h1>
                        <h1 class="text-5xl font-bold">and supporting a truly sustainable space sector.</h1>
                    </div>
                    <div class="items-center justify-center text-lg">
                        <p>&nbsp;</p>
                        <img src="/assets/moon.png" alt="Blue Dwarf Space Logo and half moon" />
                    </div>
                    <div class="card-actions items-center justify-center">
                        <NavGroup logoImage="" />
                        <!--<button href="/contact/" class="btn glass rounded-full">let's chat</button>-->
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>


<!-- screen 2 - what -->            

            <div class="snap-start bg-base-300 w-screen h-screen flex items-center justify-center">
                <div class="carousel w-full h-screen">
                    <div id="slide2_1" class="carousel-item relative w-full items-center justify-center">
                        <div class="hero bg-base-300 h-2/3 w-5/6 items-center justify-center">
                            <div class="hero-content flex-col lg:flex-row">
                                <img src="/assets/image1.jpg" class="max-w-sm rounded-lg shadow-2xl" alt="Photo by Greg Rakozy on Unsplash" />
                                <div>
                                    <h1 class="text-5xl font-bold bdheader">the universe is expanding and so is the space sector</h1>
                                    <p class="mb-4 text-lg">The space industry is growing rapidly, with increasing investment and innovation in areas such as satellite technology, space tourism, and space exploration.</p>
                                    <p class="mb-4 text-lg">The global space industry is expected to grow to $1.4 trillion by 2030, creating significant opportunities for companies that can overcome the regulatory barriers to entry.</p> 
                                    <p class="mb-4 text-lg">Blue Dwarf Space is uniquely positioned to capture a significant share of this market by offering a simpler and more efficient regulatory process, enabling more companies to participate and succeed.</p>
                                    <NavGroup logoImage="" />
                                </div>
                            </div>
                        </div>
                        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                            <a href="#slide2_5" class="btn btn-circle">❮</a> 
                            <a href="#slide2_2" class="btn btn-circle">❯</a>
                        </div>
                    </div> 
                    <div id="slide2_2" class="carousel-item relative w-full items-center justify-center">
                        <div class="hero bg-base-300 h-2/3 w-5/6 items-center justify-center">
                            <div class="hero-content flex-col lg:flex-row">
                                <img src="/assets/image3.jpg" class="max-w-sm rounded-lg shadow-2xl" alt="Photo by Greg Rakozy on Unsplash"/>
                                <div>
                                    <h1 class="text-5xl font-bold bdheader">access to space is complex</h1>
                                    <p class="mb-4 text-lg">The space industry is highly regulated, with many different permits required for different activities, such as launching rockets, deploying satellites, and conducting experiments in space.</p>
                                    <p class="mb-4 text-lg">Obtaining these permits can be a time-consuming and complex process, involving multiple government agencies, international regulations, third-party suppliers, and processes that are prone to failure and highly iterative.</p> 
                                    <p class="mb-4 text-lg">For small and medium-sized companies, the costs and resources required to navigate these processes can be prohibitively high, limiting their ability to participate in the industry.</p>
                                    <NavGroup logoImage="" />
                                </div>
                            </div>
                        </div>
                        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                            <a href="#slide2_1" class="btn btn-circle">❮</a> 
                            <a href="#slide2_3" class="btn btn-circle">❯</a>
                        </div>
                    </div> 
                    <div id="slide2_3" class="carousel-item relative w-full items-center justify-center">
                        <div class="hero bg-base-300 h-2/3 w-5/6 items-center justify-center">
                            <div class="hero-content flex-col lg:flex-row">
                                <img src="/assets/about_easier.jpg" class="max-w-sm rounded-lg shadow-2xl" alt="Photo by Ryan Hutton on Unsplash" />
                                <div>
                                    <h1 class="text-5xl font-bold bdheader">we believe there is an easier way</h1>
                                        <p class="mb-4 text-lg">Create clarity from confusion. Recombobulate.</p>
                                        <p class="mb-4 text-lg">Blue Dwarf Space are developing a platform that streamlines the regulatory process for space activities, making it faster, easier, and more cost-effective for companies to obtain the necessary permits.</p>
                                        <p class="mb-4 text-lg">Our platform understands and automates many of the administrative tasks involved in the process, reducing the burden on companies, and allowing them to focus on their core activities. We know the routes, and we navigate the pathways.</p> 
                                        <p class="mb-4 text-lg">By providing a more efficient and user-friendly process, a single touchpoint to access all requirements across all government departments and third parties, we are enabling more companies to enter and succeed in the space industry, driving innovation and growth in this exciting and important sector.</p>
                                        <NavGroup logoImage="" />
                                </div>
                            </div>
                        </div>
                        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                            <a href="#slide2_2" class="btn btn-circle">❮</a> 
                            <a href="#slide2_4" class="btn btn-circle">❯</a>
                        </div>
                    </div> 
                    <div id="slide2_4" class="carousel-item relative w-full items-center justify-center">
                        <div class="hero bg-base-300 h-2/3 w-5/6 items-center justify-center">
                            <div class="hero-content flex-col lg:flex-row">
                                <img src="/assets/about_responsibility.jpg" class="max-w-sm rounded-lg shadow-2xl" alt="Photo by 愚木混株 cdd20 on Unsplash" />
                                <div>
                                    <h1 class="text-5xl font-bold bdheader">responsibility and sustainability</h1>
                                    <p class="mb-4 text-lg">Blue Dwarf Space is on a mission to promote responsible and sustainable use of space.</p>
                                    <p class="mb-4 text-lg">We recognise that regulations are critical in achieving this objective, and we do not condone any efforts to circumvent them.</p>
                                    <p class="mb-4 text-lg">Some companies and countries have historically disregarded regulations when the process is too complex, time-consuming, or costly, viewing the consequences as the cost of doing business.</p> 
                                    <p class="mb-4 text-lg">We want to change this by streamlining the regulatory process and ensuring a smoother workflow at a far better cost-point than the alternatives, which eliminates the need for any cowboy behavior. Our goal is to make doing things the right way less frustrating, less costly, and less time-consuming, encouraging responsible and sustainable use of space.</p>
                                    <NavGroup logoImage="" />
                                </div>
                            </div>
                        </div>
                        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                        <a href="#slide2_3" class="btn btn-circle">❮</a> 
                        <a href="#slide2_5" class="btn btn-circle">❯</a>
                        </div>
                    </div>
                    <div id="slide2_5" class="carousel-item relative w-full items-center justify-center">
                            <div class="hero bg-base-300 h-2/3 w-5/6 items-center justify-center">
                                <div class="hero-content flex-col lg:flex-row">
                                    <img src="/assets/moon.png" class="max-w-sm" />
                                    <div>
                                        <h1 class="text-5xl font-bold bdheader">join the space revolution</h1>
                                        <p class="mb-4 text-lg">Become part of a new generation of space explorers by contacting Blue Dwarf Space today.</p>
                                        <NavGroup logoImage="" />
                                    </div>
                                </div>
                            </div>
                            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                                <a href="#slide2_4" class="btn btn-circle">❮</a> 
                                <a href="#slide2_1" class="btn btn-circle">❯</a>
                            </div>
                        </div>
                    </div>
            </div>

<!-- screen 3 - why -->     

<div id="slide3" class="snap-start bg-base-100 w-screen h-screen flex items-center justify-center text-8xl">
    <div class="content leading-normal mx-auto py-12 px-4">
        <div class="content leading-normal mx-auto py-12 px-4 max-w-xxl">
            <h1 class="text-5xl font-bold">why? because...</h1>
            <p>&nbsp;</p>
            <ul>
                <li class="mb-4 text-lg crescentmoon-top">life is hard enough, and if we can make things a little easier then that's a win.</li>
                <li class="mb-4 text-lg halfmoon-top">space is cool, and hard, and we want to help.</li> 
                <li class="mb-4 text-lg fullmoon">we are not aerospace or mechatronic engineers, rocket scientists, pilots, medicos, nor are we astronauts, but we **are** dreamers</li>
                <li class="mb-4 text-lg halfmoon-bottom">we believe in your dream, and we want to see you achieve it.</li>
                <li class="mb-4 text-lg crescentmoon-bottom">we believe space should be reachable to any who want to imagine. Let's imagine together.</li>
            </ul>
        </div>
        <div class="content leading-normal items-center justify-center">
            <NavGroup />
        </div>
        <p>&nbsp;</p>
    </div>

</div>
            
           
<!-- screen 4 - how -->
            <div class="snap-start bg-base-200 w-screen h-screen flex items-center justify-center">

                <div class="carousel w-full h-screen">
                    <div id="slide3_1" class="carousel-item relative w-full items-center justify-center">
                        <div class="hero bg-base-200 h-2/3 w-5/6 items-center justify-center">
                            <div class="hero-content flex-col lg:flex-row">
                                <div class="flex-none w-84"><h1 class="text-5xl font-bold bdheader">how</h1></div>
                                <div><img src="/assets/icons/enterprise.svg" /></div>
                                <div>
                                    <h2 class="text-4xl font-bold text-success">Prime Directive</h2>
                                    <p class="mb-4 text-lg">Enabling Australian space capability.</p>
                                    <p class="mb-4 text-lg">Ease the burden on space missions by facilitating and navigating regulatory workflow.</p>
                                    <NavGroup logoImage="" />
                                </div>
                            </div>
                        </div>
                        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                            <a href="#slide3_6" class="btn btn-circle">❮</a> 
                            <a href="#slide3_2" class="btn btn-circle">❯</a>
                        </div>
                    </div> 
                    <div id="slide3_2" class="carousel-item relative w-full items-center justify-center">
                        <div class="hero bg-base-200 h-2/3 w-5/6 items-center justify-center">
                            <div class="hero-content flex-col lg:flex-row">
                                <div class="flex-none w-84"><h1 class="text-5xl font-bold bdheader">how</h1></div>
                                <div><img src="/assets/icons/stars.svg" /></div>
                                <div>
                                    <h2 class="text-4xl font-bold text-accent">Serendipity</h2>
                                    <p class="mb-4 text-lg">We are intrepid explorers at the forefront of Space Specific Regulatory Requirements, seeking information and improving processes before you need them.</p>
                                    <NavGroup logoImage="" />
                                </div>
                            </div>
                        </div>
                        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                            <a href="#slide3_1" class="btn btn-circle">❮</a> 
                            <a href="#slide3_3" class="btn btn-circle">❯</a>
                        </div>
                    </div> 
                    <div id="slide3_3" class="carousel-item relative w-full items-center justify-center">
                        <div class="hero bg-base-200 h-2/3 w-5/6 items-center justify-center">
                            <div class="hero-content flex-col lg:flex-row">
                                <div class="flex-none w-84"><h1 class="text-5xl font-bold bdheader">how</h1></div>
                                <div><img src="/assets/icons/person.svg" /></div>
                                <div>
                                    <h2 class="text-4xl font-bold text-warning">Embrace disambiguation</h2>
                                    <p class="mb-4 text-lg">By removing confusion and complexity, we can achieve more. Simplify all the things.</p>
                                    <NavGroup logoImage="" />
                                </div>
                            </div>
                        </div>
                        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                            <a href="#slide3_2" class="btn btn-circle">❮</a> 
                            <a href="#slide3_4" class="btn btn-circle">❯</a>
                        </div>
                    </div> 
                    <div id="slide3_4" class="carousel-item relative w-full items-center justify-center">
                        <div class="hero bg-base-200 h-2/3 w-5/6 items-center justify-center">
                            <div class="hero-content flex-col lg:flex-row">
                                <div class="flex-none w-84"><h1 class="text-5xl font-bold bdheader">how</h1></div>
                                <div><img src="/assets/icons/cube.svg" /></div>
                                <div>
                                    <h2 class="text-4xl font-bold text-error">Security and ingenuity</h2>
                                    <p class="mb-4 text-lg">Regulations are intended to ensure safety and sustainability. Our aim is not to fight them (although 
                                        we will work to guide them), but to find a smoother path through them. By streamlining security, we make room for innovation.
                                    </p>
                                    <NavGroup logoImage="" />
                                </div>
                            </div>
                        </div>
                        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                            <a href="#slide3_3" class="btn btn-circle">❮</a> 
                            <a href="#slide3_5" class="btn btn-circle">❯</a>
                        </div>
                    </div>
                    <div id="slide3_5" class="carousel-item relative w-full items-center justify-center">
                        <div class="hero bg-base-200 h-2/3 w-5/6 items-center justify-center">
                            <div class="hero-content flex-col lg:flex-row">
                                <div class="flex-none w-84"><h1 class="text-5xl font-bold bdheader">how</h1></div>
                                <div><img src="/assets/icons/peace_fist.svg" /></div>
                                <div>
                                    <h2 class="text-4xl font-bold text-secondary">Synchronicity</h2>
                                    <p class="mb-4 text-lg">When we combine our strengths with others, we are all stronger for it. We offer ourselves, our knowledge, and 
                                        our product to work with others to improve the process for all parties; clients, partners, other agencies, and our own people. 
                                    </p>
                                    <NavGroup logoImage="" />
                                </div>
                            </div>
                        </div>
                        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                            <a href="#slide3_4" class="btn btn-circle">❮</a> 
                            <a href="#slide3_6" class="btn btn-circle">❯</a>
                        </div>
                    </div>                    
                    <div id="slide3_6" class="carousel-item relative w-full items-center justify-center">
                        <div class="hero bg-base-200 h-2/3 w-5/6 items-center justify-center">
                            <div class="hero-content flex-col lg:flex-row">
                                <div class="flex-none w-84"><h1 class="text-5xl font-bold bdheader">how</h1></div>
                                <div><img src="/assets/icons/rocket.svg" /></div>
                                <div>
                                    <h2 class="text-4xl font-bold text-info">Engage</h2>
                                    <p class="mb-4 text-lg">Remain up to date and relevant. Make it so!</p>
                                    <NavGroup logoImage="" />
                                </div>
                            </div>
                        </div>
                        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                            <a href="#slide3_5" class="btn btn-circle">❮</a> 
                            <a href="#slide3_1" class="btn btn-circle">❯</a>
                        </div>
                    </div>
                </div>
            </div>




<!-- screen 5 - who -->     

<div class="snap-start bg-base-300 w-screen h-screen flex items-center justify-center">
    <div class="carousel w-full h-screen">
        <div id="slide5_1" class="carousel-item relative w-full items-center justify-center">
            <div class="hero bg-base-300 h-2/3 w-5/6 items-center justify-center">
                <div class="hero-content flex-col lg:flex-row">
                    <div class="flex-none w-84"><h1 class="text-5xl font-bold bdheader">who</h1></div>
<!--                    <div><img src="/assets/icons/enterprise.svg" /></div> -->
                    <div>
                        <img src="/assets/founders.png" />
                        <p class="mb-4 text-lg">Our founders bring a plethora or experience across relevant fields, a deep love of technology and space, and share the fundamental belief that we should strive to leave this world a better place.</p> 
                        <p>We live our foundation principles in all we do. Scroll on.</p>
                        <NavGroup logoImage="" />
                    </div>
                </div>
            </div>
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide5_7" class="btn btn-circle">❮</a> 
                <a href="#slide5_2" class="btn btn-circle">❯</a>
            </div>
        </div> 
        <div id="slide5_2" class="carousel-item relative w-full items-center justify-center">
            <div class="hero bg-base-300 h-2/3 w-5/6 items-center justify-center">
                <div class="hero-content flex-col lg:flex-row">
                    <div class="flex-none w-84"><h1 class="text-5xl font-bold bdheader">who</h1></div>
                    <div><img src="/assets/icons/gears.svg" /></div>
                    <div>
                        <h2 class="text-4xl font-bold text-success">reduce friction</h2>
                        <p class="mb-4 text-lg">Strive to make all interactions, investigations, and transactions as painless as possible. Make it easier for all parties to just get on with what they want to get done. Don't reinvent the wheel unless we can make a better wheel.</p>
                        <NavGroup logoImage="" />
                    </div>
                </div>
            </div>
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide5_1" class="btn btn-circle">❮</a> 
                <a href="#slide5_3" class="btn btn-circle">❯</a>
            </div>
        </div> 
        <div id="slide5_3" class="carousel-item relative w-full items-center justify-center">
            <div class="hero bg-base-300 h-2/3 w-5/6 items-center justify-center">
                <div class="hero-content flex-col lg:flex-row">
                    <div class="flex-none w-84"><h1 class="text-5xl font-bold bdheader">who</h1></div>
                    <div><img src="/assets/icons/water.svg" /></div>
                    <div>
                        <h2 class="text-4xl font-bold text-accent">be water</h2>
                        <p class="mb-4 text-lg">There are some things we just can't change, so we will have to be able to fill an otherwise uncomfortable space.</p>
                        <p>In the words of Bruce Lee, be water.</p>
                        <NavGroup logoImage="" />
                    </div>
                </div>
            </div>
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide5_2" class="btn btn-circle">❮</a> 
                <a href="#slide5_4" class="btn btn-circle">❯</a>
            </div>
        </div> 
        <div id="slide5_4" class="carousel-item relative w-full items-center justify-center">
            <div class="hero bg-base-300 h-2/3 w-5/6 items-center justify-center">
                <div class="hero-content flex-col lg:flex-row">
                    <div class="flex-none w-84"><h1 class="text-5xl font-bold bdheader">who</h1></div>
                    <div><img src="/assets/icons/gretzky.svg" /></div>
                    <div>
                        <h2 class="text-4xl font-bold text-warning">go Gretzky</h2>
                        <p class="mb-4 text-lg">An ice hockey player is a thing of both grace and brutality, When what needs to be done is tough, smash it, but when changes are necessary, pivot trajectory and regain balance.</p>
                        <NavGroup logoImage="" />
                    </div>
                </div>
            </div>
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide5_3" class="btn btn-circle">❮</a> 
                <a href="#slide5_5" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide5_5" class="carousel-item relative w-full items-center justify-center">
            <div class="hero bg-base-300 h-2/3 w-5/6 items-center justify-center">
                <div class="hero-content flex-col lg:flex-row">
                    <div class="flex-none w-84"><h1 class="text-5xl font-bold bdheader">who</h1></div>
                    <div><img src="/assets/icons/future.svg" /></div>
                    <div>
                        <h2 class="text-4xl font-bold text-error">future focus</h2>
                        <p class="mb-4 text-lg">Have a stake in the future. Don't do stuff for a quick buck, or to exploit a resource, without having an understanding of the impact it will have on others now, and in the distant future.</p>
                        <NavGroup logoImage="" />
                    </div>
                </div>
            </div>
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide5_4" class="btn btn-circle">❮</a> 
                <a href="#slide5_6" class="btn btn-circle">❯</a>
            </div>
        </div>                    
        <div id="slide5_6" class="carousel-item relative w-full items-center justify-center">
            <div class="hero bg-base-300 h-2/3 w-5/6 items-center justify-center">
                <div class="hero-content flex-col lg:flex-row">
                    <div class="flex-none w-84"><h1 class="text-5xl font-bold bdheader">who</h1></div>
                    <div><img src="/assets/icons/path.svg" /></div>
                    <div>
                        <h2 class="text-4xl font-bold text-secondary">bring others along</h2>
                        <p class="mb-4 text-lg">Bring others forward and upward. Forge a path, but don't leave turbulence that others can't surf on to improve themselves.</p>
                        <NavGroup logoImage="" />
                    </div>
                </div>
            </div>
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide5_5" class="btn btn-circle">❮</a> 
                <a href="#slide5_7" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide5_7" class="carousel-item relative w-full items-center justify-center">
            <div class="hero bg-base-300 h-2/3 w-5/6 items-center justify-center">
                <div class="hero-content flex-col lg:flex-row">
                    <div class="flex-none w-84"><h1 class="text-5xl font-bold bdheader">who</h1></div>
                    <div><img src="/assets/icons/spock.svg" /></div>
                    <div>
                        <h2 class="text-4xl font-bold text-info">Spockify</h2>
                        <p class="mb-4 text-lg">In the realm of Star Trek there's a constant pursuit of seeking knowledge, and improving life for all. Spock attempts this through logic and forethought, but sometimes the answer is just a bit goofy.</p>  
                        <NavGroup logoImage="" />
                    </div>
                </div>
            </div>
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide5_6" class="btn btn-circle">❮</a> 
                <a href="#slide5_1" class="btn btn-circle">❯</a>
            </div>
        </div>
    </div>
</div>


<!--
<div class="snap-start bg-base-100 w-screen h-screen flex items-center justify-center text-8xl">
                <div class="content leading-normal mx-auto py-12 px-4">
                    <div>
                        <h2>the future of space exploration, right here</h2>
                    </div>
                    <div class="content leading-normal mx-auto py-12 px-4 max-w-lg">
                        <p class="mb-4 text-lg">We believe in a world where anyone can access space, and we're making it happen.</p>
                        <p class="mb-4 text-lg">We are revolutionising the space industry by streamlining the regulatory process and making it easier for companies to access space. Our mission is to enable the world to explore and utilise space to its fullest potential.</p> 
                        <p class="mb-4 text-lg">Are you ready to take your company to new heights?</p>
                        <p class="mb-4 text-lg">Let us help you get there.</p>
                    </div>
                    <div class="card-actions items-center justify-center">
                        <button class="btn glass rounded-full">get started</button>
                    </div>
                    <p>&nbsp;</p>
                </div>
 
            </div>
-->
<!-- screen 6 -  -->    

            <div class="snap-start bg-base-100 w-screen h-screen flex items-center justify-center text-8xl">
                <div id="mission" class="content leading-normal mx-auto py-12 px-4">
                    <div class="items-center justify-center text-lg">
                        <p>&nbsp;</p>
                        <img src="/assets/bluedwarf_logo_ttl.png" alt="Blue Dwarf Space Logo and half moon" />
                        <p>&nbsp;</p>
                    </div>
                    <div class="card-actions items-center justify-center">
                        <NavGroup logoImage="" />
                        <!--<button href="/contact/" class="btn glass rounded-full">let's chat</button>-->
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>

            
        </div>

    </main>

<style>

    .crescentmoon-top {
        list-style: url(../assets/icons/crescentmoon_top.svg);
        padding-left: 30px
    }
    .halfmoon-top {
        list-style: url(../assets/icons/halfmoon_top.svg);
        padding-left: 30px
    }
    .fullmoon {
        list-style: url(../assets/icons/fullmoon.svg);
        padding-left: 30px
    }
    .halfmoon-bottom {
        list-style: url(../assets/icons/halfmoon_bottom.svg);
        padding-left: 30px
    }
    .crescentmoon-bottom {
        list-style: url(../assets/icons/crescentmoon_bottom.svg);
        padding-left: 30px
    }
    .bdheader {
        color: #026087;
        margin-bottom: 15px;
        margin-right: 20px;
    }


</style>
