---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="About Us">
    <main>
        <h1>About Blue Dwarf Space</h1>

        <h2>What are we doing?</h2>
        <p>
            Building a platform to guide you through the permit application 
            process for your space mission.
        </p>
        <h2>Why?</h2>
        <p>
            Australia wants to build sovereign space capability, but we keep 
            hearing from the space sector how difficult and expensive it is to 
            gain permits to perform space activities. Far from a simple 
            application, there is a whole hierarchy of documentation required 
            before you even get to that part. Some of these documents are 
            dependent on others, requiring special attention to the order and 
            timing of applications, resulting in further costs (financial and 
            time). There are no guarantees the final application will contain 
            all required information, requiring a revisit to some aspects of 
            the earlier works. There is a significant pain point involving 
            repetition of effort, much confusion, time, and cost.
        </p>
        <p>We can simplify it all</p>
        <h2>So why are *we* doing it?</h2>
        <p>
            Because it is hard, confusing, costly, and time consuming. These 
            things can be a block to incredible innovation...
        </p>
        <p><b>BUT...</b></p>
        <p>
            Safety is important. We need to ensure our access to space is 
            sustainable, done in a manner that doesn't destroy launch capabilities 
            for everyone. 
        </p>
        <p>This is about ensuring our future in space.</p>
        
        <p>
            Leave the tedium and confusion to us; we see some red tape and we
            want to paint it black.
        </p>
    </main>
</DefaultLayout>

<style>

</style>
