---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout 
    title="Contact"
    logoImage=""
>

	<h1 class="mt-8">Contact us</h1>

    <main>

		<iframe
			src="https://tally.so/embed/nGx42k?alignLeft=1&hideTitle=1&transparentBackground=1"
			width="80%"
			height="480"
			frameborder="0"
			title="Contact"
			class="mx-auto"
		>
		</iframe>

        



    </main>
</DefaultLayout>

