---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Contact">
    <main>
        <h1>Contact us</h1>
        <p>email etc</p>
    </main>
</DefaultLayout>

<style>

</style>