---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Card from '../components/Card.astro';
---

<DefaultLayout title="Welcome">
	<main>
		<h1><span class="text-gradient">Welcome to Blue Dwarf Space</span></h1>
		<p>
			Space has always been a source of inspiration and hope. Boundless to an impossible extent, it holds more potential than any of us could hope to imagine. But imagine we do. 
		</p>
		<p>
			At Blue Dwarf, we are not space engineers. We are not building space craft or components. We work with you to get your permits to perform space activities. We are navigating the complex trails that hold back innovation, making it simpler for amazing people to do amazing things in a safe and sustainable manner. 
		</p>
		<p>
			We create clarity from confusion. We simplify the mess. We recombobulate.	
		</p>
		<p>
			Let’s make space truly reachable to any who want to imagine. Let’s imagine together. 
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/mission"
				title="Our mission"
				body="What we do and why we do it"
			/>
			<Card
				href="/product"
				title="Our product"
				body="Forget reinventing the wheel, jump into our teleporter"
			/>
			<Card
				href="/about"
				title="Our team"
				body="Learn more about the people of Blue Dwarf Space"
			/>
			<Card
				href="https://radio.bluedwarf.space"
				title="Blue Dwarf Space Station"
				body="Chill programming beats. More content coming soon ❤️"
			/>
		</ul>
	</main>
</DefaultLayout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #eeeeee,#f1c40f, #414bb2, #9510ac, #00cc66, #d90368, #db663a, #eeeeee);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #000d26;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
