---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Legal">
    <main>
        <h1>Legal</h1>
        <p>disclaimers, privacy protection, etc</p>
    </main>
</DefaultLayout>

<style>

</style>