---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="In the media">
    <main>
        <h1>Blue Dwarf in the media</h1>
        <p>articles - as cards or something?</p>
    </main>
</DefaultLayout>

<style>

</style>