---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Mission">
    <main>
        <h1>Our mission</h1>
        <p>Our mission is to make space reachable to all by fundamentally changing industry processes to create a frictionless path by removing the red tape, while supporting a truly sustainable space sector.</p>
    </main>
</DefaultLayout>

<style>

</style>
