---
import NavGroup from "../components/NavGroup.astro";
---
    <main>

        <div class="snap-y snap-mandatory h-screen w-screen overflow-scroll">
            

<!-- screen 1 - Mission -->
            <div class="snap-start bg-base-100 w-screen h-screen flex items-center justify-center text-8xl">
                <div class="content leading-normal mx-auto py-12 px-4">
                    <div>
                        <h1 class="text-5xl font-bold">Our mission is to make space reachable to all</h1>
                        <h1 class="text-5xl font-bold">by fundamentally changing industry processes,</h1>
                        <h1 class="text-5xl font-bold">creating a frictionless path by resolving the red tape,</h1>
                        <h1 class="text-5xl font-bold">and supporting a truly sustainable space sector.</h1>
                    </div>
                    <div class="items-center justify-center text-lg">
                        <p>&nbsp;</p>
                        <img src="/assets/moon.png" alt="Blue Dwarf Space Logo and half moon" />
                    </div>
                    <div class="card-actions items-center justify-center">
                        <NavGroup logoImage="" />
                        <!--<button href="/contact/" class="btn glass rounded-full">let's chat</button>-->
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>


<!-- screen 2 - about -->            
            <div class="snap-start bg-base-300 w-screen h-screen flex items-center justify-center text-8xl">
                <div class="content leading-normal mx-auto py-12 px-4">
                    <div>
                        <h2>the universe is expanding</h2><h2>and so is the space sector</h2>
                    </div>
                    <div class="content leading-normal mx-auto py-12 px-4 max-w-lg">
                        <p class="mb-4 text-lg">The space industry is growing rapidly, with increasing investment and innovation in areas such as satellite technology, space tourism, and space exploration.</p>
                        <p class="mb-4 text-lg">The global space industry is expected to grow to $1.4 trillion by 2030, creating significant opportunities for companies that can overcome the regulatory barriers to entry.</p> 
                        <p class="mb-4 text-lg">Blue Dwarf Space is uniquely positioned to capture a significant share of this market by offering a simpler and more efficient regulatory process, enabling more companies to participate and succeed.</p>
                    </div>
                    <div class="card-actions items-center justify-center">
                        <NavGroup logoImage="" />
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>


<!-- screen 3 -  -->
            <div class="snap-start bg-white w-screen h-screen flex items-center justify-center text-8xl">
                <div class="content leading-normal mx-auto py-12 px-4">
                    <div>
                        <h2>access to space is complex</h2>
                    </div>
                    <div class="content leading-normal mx-auto py-12 px-4 max-w-lg">
                        <p class="mb-4 text-lg">The space industry is highly regulated, with many different permits required for different activities, such as launching rockets, deploying satellites, and conducting experiments in space.</p>
                        <p class="mb-4 text-lg">Obtaining these permits can be a time-consuming and complex process, involving multiple government agencies, international regulations, third-party suppliers, and processes that are prone to failure and highly iterative.</p> 
                        <p class="mb-4 text-lg">For small and medium-sized companies, the costs and resources required to navigate these processes can be prohibitively high, limiting their ability to participate in the industry.</p>
                    </div>
                    <div class="card-actions items-center justify-center">
                        <NavGroup logoImage="" />
                    </div>
                    <p>&nbsp;</p>
                </div>

            </div>


<!-- screen 4 -  -->
            <div class="snap-start bg-base-300 w-screen h-screen flex items-center justify-center text-8xl">
                <div class="content leading-normal mx-auto py-12 px-4">
                    <div>
                        <h2>we believe</h2>
                        <h2>there is an easier way</h2>
                    </div>
                    <div class="content leading-normal mx-auto py-12 px-4 max-w-lg">
                        <p class="mb-4 text-lg">Create clarity from confusion. Recombobulate.</p>
                        <p class="mb-4 text-lg">Blue Dwarf Space are developing a platform that streamlines the regulatory process for space activities, making it faster, easier, and more cost-effective for companies to obtain the necessary permits.</p>
                        <p class="mb-4 text-lg">Our platform understands and automates many of the administrative tasks involved in the process, reducing the burden on companies, and allowing them to focus on their core activities. We know the routes, and we navigate the pathways.</p> 
                        <p class="mb-4 text-lg">By providing a more efficient and user-friendly process, we are enabling more companies to enter and succeed in the space industry, driving innovation and growth in this exciting and important sector.</p>
                    </div>
                    <div class="card-actions items-center justify-center">
                        <NavGroup logoImage="" />
                    </div>
                    <p>&nbsp;</p>
                </div>

            </div>


<!-- screen 5 -  -->
            <div class="snap-start bg-base-100 w-screen h-screen flex items-center justify-center text-8xl">
                <div class="content leading-normal mx-auto py-12 px-4">
                    <div>
                        <h2>supporting responsibility</h2>
                        <h2>and sustainability</h2>
                    </div>
                    <div class="content leading-normal mx-auto py-12 px-4 max-w-lg">
                        <p class="mb-4 text-lg">Blue Dwarf Space is on a mission to promote responsible and sustainable use of space.</p>
                        <p class="mb-4 text-lg">We recognise that regulations are critical in achieving this objective, and we do not condone any efforts to circumvent them.</p>
                        <p class="mb-4 text-lg">Some companies and countries have historically disregarded regulations when the process is too complex, time-consuming, or costly, viewing the consequences as the cost of doing business.</p> 
                        <p class="mb-4 text-lg">We want to change this by streamlining the regulatory process and ensuring a smoother workflow at a far better cost-point than the alternatives, which eliminates the need for any cowboy behavior. Our goal is to make doing things the right way less frustrating, less costly, and less time-consuming, encouraging responsible and sustainable use of space.</p>
                    </div>
                    <div class="card-actions items-center justify-center">
                        <NavGroup logoImage="" />
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>




        </div>
    </main>
    
<style>

</style>