---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout 
    title="Ooops"
    logoImage=""
>
    <div>&nbsp;</div>
    <div class="hero glass">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <img src="/assets/AI_rocket_blueprint.png" class="max-w-sm rounded-lg shadow-2xl" />
            <div>
                <h1 class="text-5xl font-bold">Ooooops!</h1>
                <p class="py-6">We're not quite ready for you here yet! Please come back again soon</p>
                <!-- <button class="btn btn-primary">Get Started</button> -->
            </div>
        </div>
    </div>
</DefaultLayout>

<style>
</style>