---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Welcome">
    <main>

        <header class="bg-section1 flex items-center justify-center h-screen pb-12">
            <div class="bg-base-100 font-serif mx-4 p-4 text-center md:p-8">
                <h1 class="mb-6 text-xl md:text-5xl uppercase">Welcome to Blue Dwarf Space</h1>
            </div>
        </header>
    
        <div class="font-serif leading-normal mx-auto py-12 px-4 max-w-lg">
            <p class="mb-4 text-lg">the future of space travel is here! We believe in a world where anyone can access space, and we're making it happen. We're streamlining the regulatory process so that getting access to space is easier than ever before.</p>
        </div>
    

        <div class="bg-section2 container flex items-center justify-center h-screen mx-auto">
            <blockquote class="bg-base-100 font-serif mx-4 p-4 text-center text-white md:p-8">
                <p class="font-bold italic text-3xl">
                    the problem
                </p>
            </blockquote>
        </div>
    
        <div class="font-serif leading-normal mx-auto py-12 px-4 max-w-lg">
            <p class="mb-4 text-lg">Getting access to space is a complex and often frustrating process. The regulatory requirements are time-consuming, expensive, and can be difficult to navigate. As a result, many companies and individuals are unable to realize their dreams of reaching the stars. That's where we come in.</p>
        </div>

        <div class="bg-section3 container flex items-center justify-center h-screen mx-auto">
            <blockquote class="bg-base-100 font-serif mx-4 p-4 text-center text-white md:p-8">
            <p class="font-bold italic text-3xl">
                our solution
            </p>
            </blockquote>
        </div>
    
        <div class="font-serif leading-normal mx-auto py-12 px-4 max-w-lg">
            <p class="mb-4 text-lg">We have developed a comprehensive platform that simplifies the process of obtaining regulatory permits for space activity. Our platform guides you through the entire process, from initial application to final approval. We provide you with all the necessary information, resources, and support you need to successfully apply for and obtain a space activity permit.</p>
        </div>

        <div class="bg-section4 container flex items-center justify-center h-screen mx-auto">
            <blockquote class="bg-base-100 font-serif mx-4 p-4 text-center text-white md:p-8">
            <p class="font-bold italic text-3xl">
                our benefits
            </p>
            </blockquote>
        </div>
        
        <div class="font-serif leading-normal mx-auto py-12 px-4 max-w-lg">
            <p class="mb-4 text-lg">With Blue Dwarf Space, you can save time and money while avoiding the frustration of navigating complex regulatory requirements. Our platform provides you with a clear and easy-to-understand process, making it easier for you to focus on your space mission. With our help, you can launch your rockets, send satellites into orbit, and achieve your space exploration goals.</p>
        </div>

        <div class="bg-section5 container flex items-center justify-center h-screen mx-auto">
            <blockquote class="bg-base-100 font-serif mx-4 p-4 text-center text-white md:p-8">
            <p class="font-bold italic text-3xl">
                get started
            </p>
            </blockquote>
        </div>
        
        <div class="font-serif leading-normal mx-auto py-12 px-4 max-w-lg">
            <p class="mb-4 text-lg">Join the new generation of space explorers today by signing up for Blue Dwarf Space. Our platform is designed to meet the needs of individuals and companies of all sizes. Whether you're an established aerospace company or a new space startup, we're here to help you reach the stars. Get started today and take the first step towards your space mission with Blue Dwarf Space.</p>
        </div>
    </main>
</DefaultLayout>


<style>
    .bg-section1 {
        background: url(../img/image1.jpg) center center no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg-section2 {
        background: url(../img/image2.jpg) center center no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg-section3 {
        background: url(../img/image3.jpg) center center no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg-section4 {
        background: url(../img/image4.jpg) center center no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg-section5 {
        background: url(../img/image5.jpg) center center no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }    
</style>