---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Welcome">
    <main>

        <header class="bg-section1 flex items-center justify-center h-screen pb-12">
            <div class="content bg-base-100 mx-4 p-4 text-center md:p-8">
                <h1 class="mb-6 text-xl md:text-5xl">we are the dreamers, and we are the believers</h1>
            </div>
        </header>
    
        <div class="content leading-normal mx-auto py-12 px-4 max-w-lg">
            <p class="mb-4 text-lg">The future of space exploration is here! We believe in a world where anyone can access space, and we're making it happen.</p>
            <p class="mb-4 text-lg">We are revolutionising the space industry by streamlining the regulatory process and making it easier for companies to access space. Our mission is to enable the world to explore and utilise space to its fullest potential. Are you ready to take your company to new heights? Let us help you get there.</p>
        </div>
    

        <div class="bg-section2 flex items-center justify-center h-screen mx-auto">
            <blockquote class="content bg-base-100 mx-4 p-4 text-center md:p-8">
                <h2 class="font-bold italic text-5xl">we clarify the confusion</h2>
            </blockquote>
        </div>
    
        <div class="content leading-normal mx-auto py-12 px-4 max-w-lg">
            <p class="mb-4 text-lg">Getting access to space is a complex and often frustrating process. The regulatory requirements are time-consuming, expensive, and can be difficult to navigate, requiring extensive knowledge and resources.</p>
            <p class="mb-4 text-lg">This is a major barrier for companies wanting to reach for the stars, and can limit innovation and progress in the industry.</p>
            <p class="mb-4 text-lg">That's where we come in.</p>
        </div>

        <div class="bg-section3 container flex items-center justify-center h-screen mx-auto">
            <blockquote class="content bg-base-100 mx-4 p-4 text-center md:p-8">
                <h2 class="font-bold italic text-5xl">we simplify the mess</h2>
            </blockquote>
        </div>
    
        <div class="font-serif leading-normal mx-auto py-12 px-4 max-w-lg">
            <p class="mb-4 text-lg">At Blue Dwarf Space, we have developed a platform that streamlines the regulatory process and makes it easier for companies to apply for and track space activity permits.</p>
            <p class="mb-4 text-lg">Our platform guides you through the entire process, from initial application to final approval.</p>
            <p class="mb-4 text-lg">We provide you with all the necessary information, resources, and support you need to successfully apply for and obtain space activity permits.</p>
        </div>

        <div class="bg-section4 container flex items-center justify-center h-screen mx-auto">
            <blockquote class="bg-base-100 content mx-4 p-4 text-center text-white md:p-8">
                <h2 class="font-bold italic text-3xl">we recombobulate</h2>
            </blockquote>
        </div>
        
        <div class="font-serif leading-normal mx-auto py-12 px-4 max-w-lg">
            <p class="mb-4 text-lg">Our platform provides a centralized hub for all regulatory requirements, allowing companies to easily apply for permits and track the progress of their applications.</p>
            <p class="mb-4 text-lg">We also provide educational resources and support to help companies navigate the complex regulatory landscape.</p>
            <p class="mb-4 text-lg">If your company is launching a rocket, our platform also enables your partnering companies who have payloads on that rocket to have their products approved for your mission.</p>
            <p class="mb-4 text-lg">With our help, you can launch your rockets, send satellites into orbit, and achieve your space exploration goals. We take on the busy work so that you can concentrate on what you do best: awesome space stuff!</p>
        </div>

        <div class="bg-section5 container flex items-center justify-center h-screen mx-auto">
            <blockquote class="bg-base-100 content mx-4 p-4 text-center text-white md:p-8">
                <h2 class="font-bold italic text-3xl">join the space revolution</h2>
            </blockquote>
        </div>
        
        <div class="font-serif leading-normal mx-auto py-12 px-4 max-w-lg">
            <p class="mb-4 text-lg">Join the new generation of space explorers today by signing up for Blue Dwarf Space.</p>
            <p class="mb-4 text-lg">Our platform is designed to meet the needs of individuals and companies of all sizes. Whether you're an established aerospace company or a new space startup, we're here to help you reach the stars. Get started today and take the first step towards your space mission with Blue Dwarf Space.</p>
        </div>
    </main>
</DefaultLayout>


<style>
    .bg-section1 {
        background: url(../img/image1.jpg) center center no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg-section2 {
        background: url(../img/image2.jpg) center center no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg-section3 {
        background: url(../img/image3.jpg) center center no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg-section4 {
        background: url(../img/image4.jpg) center center no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg-section5 {
        background: url(../img/image5.jpg) center center no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }    
    .content {
    height: auto;
    padding: 5px;
  }
  .content-blog {
    min-height: 300px;
  }
  .content-text {
    color: #eee;
    text-align: center;
    margin: 30px auto;
  }
  .content h1 {
    font-size: 50px;
    color: #026087;
    margin-bottom: 10px;
  }
  .content h2 {
    font-size: 28px;
    color: #00cc66;
    margin-bottom: 20px;
  }
  .content p {
    font-size: 18px;
    color: #eeeeee;
    margin-bottom: 20px;
    text-align: left;
  }
  .content-img {
    text-align: center;
  }
  .content-img img {
    border-radius: 10px;
    margin: auto;
  }
</style>