
    <main>

        <div class="snap-y snap-mandatory h-screen w-screen overflow-scroll">
            <div class="snap-start bg-amber-200 w-screen h-screen flex items-center justify-center text-8xl">

                <div class="content leading-normal mx-auto py-12 px-4">
                    <div>
                        <h2>the future of space exploration, right here</h2>
                    </div>
                    <div class="content leading-normal mx-auto py-12 px-4 max-w-lg">
                        <p class="mb-4 text-lg">We believe in a world where anyone can access space, and we're making it happen.</p>
                        <p class="mb-4 text-lg">We are revolutionising the space industry by streamlining the regulatory process and making it easier for companies to access space. Our mission is to enable the world to explore and utilise space to its fullest potential.</p> 
                        <p class="mb-4 text-lg">Are you ready to take your company to new heights?</p>
                        <p class="mb-4 text-lg">Let us help you get there.</p>
                    </div>
                    <div class="card-actions items-center justify-center">
                        <button class="btn glass rounded-full">get started</button>
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="snap-start bg-teal-200 w-screen h-screen flex items-center justify-center text-8xl">
                <div class="content leading-normal mx-auto py-12 px-4">
                    <div>
                        <h2>the future of space exploration, right here</h2>
                    </div>
                    <div class="content leading-normal mx-auto py-12 px-4 max-w-lg">
                        <p class="mb-4 text-lg">We believe in a world where anyone can access space, and we're making it happen.</p>
                        <p class="mb-4 text-lg">We are revolutionising the space industry by streamlining the regulatory process and making it easier for companies to access space. Our mission is to enable the world to explore and utilise space to its fullest potential.</p> 
                        <p class="mb-4 text-lg">Are you ready to take your company to new heights?</p>
                        <p class="mb-4 text-lg">Let us help you get there.</p>
                    </div>
                    <div class="card-actions items-center justify-center">
                        <button class="btn glass rounded-full">get started</button>
                    </div>
                    <p>&nbsp;</p>
                </div>
             </div>
            <div class="snap-start bg-cyan-200 w-screen h-screen flex items-center justify-center text-8xl">
                <div class="content leading-normal mx-auto py-12 px-4">
                    <div>
                        <h2>the future of space exploration, right here</h2>
                    </div>
                    <div class="content leading-normal mx-auto py-12 px-4 max-w-lg">
                        <p class="mb-4 text-lg">We believe in a world where anyone can access space, and we're making it happen.</p>
                        <p class="mb-4 text-lg">We are revolutionising the space industry by streamlining the regulatory process and making it easier for companies to access space. Our mission is to enable the world to explore and utilise space to its fullest potential.</p> 
                        <p class="mb-4 text-lg">Are you ready to take your company to new heights?</p>
                        <p class="mb-4 text-lg">Let us help you get there.</p>
                    </div>
                    <div class="card-actions items-center justify-center">
                        <button class="btn glass rounded-full">get started</button>
                    </div>
                    <p>&nbsp;</p>
                </div>
 
            </div>
            <div class="snap-start bg-fuchsia-200 w-screen h-screen flex items-center justify-center text-8xl">
                <div class="content leading-normal mx-auto py-12 px-4">
                    <div>
                        <h2>the future of space exploration, right here</h2>
                    </div>
                    <div class="content leading-normal mx-auto py-12 px-4 max-w-lg">
                        <p class="mb-4 text-lg">We believe in a world where anyone can access space, and we're making it happen.</p>
                        <p class="mb-4 text-lg">We are revolutionising the space industry by streamlining the regulatory process and making it easier for companies to access space. Our mission is to enable the world to explore and utilise space to its fullest potential.</p> 
                        <p class="mb-4 text-lg">Are you ready to take your company to new heights?</p>
                        <p class="mb-4 text-lg">Let us help you get there.</p>
                    </div>
                    <div class="card-actions items-center justify-center">
                        <button class="btn glass rounded-full">get started</button>
                    </div>
                    <p>&nbsp;</p>
                </div>
 
            </div>
        </div>

    </main>


<style>


</style>