<div class="grid sm:grid-cols-2 md:grid-cols-4 gap-8 mt-10">
    <a href="/about/" class="btn btn-outline btn-secondary">Why?</a>
    <a href="/mission/" class="btn btn-outline btn-accent">The problem</a>
    <a href="/media/" class="btn btn-outline btn-info">The current way</a>
    <a href="/contact/" class="btn btn-outline btn-success">Our way</a>
    <a href="/typography/" class="btn btn-outline btn-warning">Make it so</a>
</div>