<div class="text-center">
    <span class="tooltip badge" data-tip="mobile">PH</span>
    <span class="tooltip badge badge-outline sm:badge" data-tip="640px">SM</span
    >
    <span class="tooltip badge badge-outline md:badge" data-tip="768px">MD</span
    >
    <span class="tooltip badge badge-outline lg:badge" data-tip="1024px"
        >LG</span
    >
    <span class="tooltip badge badge-outline xl:badge" data-tip="1280px"
        >XL</span
    >
    <span class="tooltip badge badge-outline 2xl:badge" data-tip="1536px"
        >2XL</span
    >
</div>
