<div class="grid sm:grid-cols-2 md:grid-cols-4 gap-8 mt-10">
    <a href="/about/" class="btn btn-outline">About Blue Dwarf</a>
    <a href="/mission/" class="btn btn-outline">Our mission</a>
    <a href="/media/" class="btn btn-outline">In the media</a>
    <a href="/contact/" class="btn btn-outline">Contact us</a>
</div>