---
export interface Props {
	imageDisp?: boolean;
}

// const { imageDisp=true } = Astro.props as Props;
---


<img class="mx-auto not-prose mb-2" src="/assets/rising_logo.svg" alt="" />
<div class="grid sm:grid-cols-2 md:grid-cols-5 gap-2">
    <a href="/about/" class="btn btn-outline btn-accent">About Blue Dwarf</a>
    <a href="/mission/" class="btn btn-outline btn-warning">Our mission</a>
    <a href="/media/" class="btn btn-outline btn-error">In the media</a>
    <a href="/contact/" class="btn btn-outline btn-secondary">Contact us</a>
    <a href="/typography/" class="btn btn-outline btn-info">Typography</a>
</div>