<div class="grid sm:grid-cols-2 md:grid-cols-4 gap-8 mt-10">
    <a href="/about/" class="btn btn-outline btn-secondary">About Blue Dwarf</a>
    <a href="/mission/" class="btn btn-outline btn-accent">Our mission</a>
    <a href="/media/" class="btn btn-outline btn-info">In the media</a>
    <a href="/contact/" class="btn btn-outline btn-success">Contact us</a>
    <a href="/typography/" class="btn btn-outline btn-warning">Typography</a>
</div>