---
export interface Props {
	logoImage?: string;
}

const { logoImage="/assets/rising_logo.svg" } = Astro.props as Props;
---


<img class="mx-auto not-prose mb-2" src={logoImage} alt="" />
<div class="grid sm:grid-cols-2 md:grid-cols-4 gap-2">
    <a href="/about/" class="btn btn-outline btn-accent">About Blue Dwarf</a>
    <a href="/mission/" class="btn btn-outline btn-warning">Our mission</a>
    <a href="/employment/" class="btn btn-outline btn-error">Employment</a>
    <a href="/contact/" class="btn btn-outline btn-secondary">Contact us</a>
    <!-- <a href="/ooops" class="btn btn-outline btn-info">News</a> -->
</div>