---
import NavGroup from "../components/NavGroup.astro";
import MediaQuery from "../components/MediaQuery.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export interface Props {
	title: string;
}

let { title } = Astro.props as Props;


title = title + " | Blue Dwarf Space";
---

<!DOCTYPE html>
<html lang="en" data-theme="bluedwarfdark">
    <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Barlow&display=swap" rel="stylesheet">




        <style>

            .prose {
                max-width: 1000px !important;    
            }
            .prose img {
                margin:initial !important;
                margin-bottom: 100px !important;
            }
            </style>




        <title>{title}</title>
    </head>

    <body class="bg-gradient-to-b from-base-100 via-base-300 ...">
        <div class="drawer">
            <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content flex flex-col">
                <!-- Navbar -->
                <div class="top-0 sticky w-full navbar bg-gradient-to-bl from-base-300 via-base-100 to-base-300" style="z-index:9999;">
                    <div class="flex-none lg:hidden">
                        <label
                            for="my-drawer-3"
                            class="btn btn-square btn-ghost"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                class="inline-block w-6 h-6 stroke-current"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </label>
                    </div>
                    <div class="flex-1 px-2 mx-2">
                        <a href="/"
                            ><img
                                src="/assets/blue_dwarf_space_letterhead_logo.png"
                                class="max-h-14"
                            />
                        </a>
                    </div>
                    <div class="flex-1">
                        <MediaQuery />
                    </div>
                    <div class="flex-none hidden lg:block">
                        <Header hv_layout="horizontal" />
                    </div>
                </div>

                <article class="prose ml-auto mr-auto">



                    <slot />
                    <!-- your content is injected here -->





                    <NavGroup />

                </article>


<Footer />



            </div>

            <div class="drawer-side">
                <label for="my-drawer-3" class="drawer-overlay"></label>
                <Header hv_layout="vertical" />                
            </div>
        </div>
    </body>
</html>
