---
import NavGroup from "../components/NavGroup.astro";

import '@fontsource/orbitron';
import '@fontsource/inter';

export interface Props {
	title: string;
}

import '@fontsource/orbitron';
import '@fontsource/inter';

let { title } = Astro.props as Props;


title = title + " | Blue Dwarf Space";
---

<!DOCTYPE html>
<html lang="en" data-theme="bluedwarfdark">
    <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Barlow&display=swap" rel="stylesheet">
        <title>{title}</title>
    </head>

    <body class="bg-gradient-to-b from-base-100 via-base-300 ...">
        <div class="drawer">
            <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content flex flex-col">
                <!-- Navbar -->
                <div class="w-full navbar bg-gradient-to-bl from-base-300 via-base-100 to-base-300">
                    <div class="flex-none lg:hidden">
                        <label
                            for="my-drawer-3"
                            class="btn btn-square btn-ghost"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                class="inline-block w-6 h-6 stroke-current"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </label>
                    </div>
                    <div class="flex-1 px-2 mx-2">
                        <a href="/"
                            ><img
                                src="/assets/blue_dwarf_space_letterhead_logo.png"
                                class="max-h-14"
                            />
                        </a>
                    </div>
                    <div class="flex-none hidden lg:block">
                        <ul class="menu menu-horizontal">
                            <!-- Navbar menu content here -->
                            <li><a href="/about">About</a></li>
                            <li><a href="/mission">Mission</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <article class="prose ml-auto mr-auto">



                    <slot />
                    <!-- your content is injected here -->





                    <div class="mx-12">
                        <NavGroup />

                        <div class="m-auto items-center">
                            <span
                                class="tooltip tooltip-bottom badge bg-primary text-xs"
                                data-tip="mobile">PH</span
                            >
                            <span
                                class="tooltip tooltip-bottom badge sm:bg-primary text-xs"
                                data-tip="640px">SM</span
                            >
                            <span
                                class="tooltip tooltip-bottom badge md:bg-primary text-xs"
                                data-tip="768px">MD</span
                            >
                            <span
                                class="tooltip tooltip-bottom badge lg:bg-primary text-xs"
                                data-tip="1024px">LG</span
                            >
                            <span
                                class="tooltip tooltip-bottom badge xl:bg-primary text-xs"
                                data-tip="1280px">XL</span
                            >
                            <span
                                class="tooltip tooltip-bottom badge 2xl:bg-primary text-xs"
                                data-tip="1536px">2XL</span
                            >
                        </div>
                    </div>
                </article>

                <footer
                    class="footer px-10 py-4 mt-16 text-white text-xs font-bold uppercase bg-gradient-to-bl from-base-300 via-base-100 to-base-300"
                >
                    <a href="/"
                        ><img
                            src="/assets/blue_dwarf_space_notext_logo.png"
                            alt="Blue Dwarf Space logo"
                            class="w-8 md:justify-self-start"
                        />
                    </a>

                    <span
                        class="md:justify-self-center md:ml-20 md:mt-3 opacity-80"
                        >Blue Dwarf Space Pty Ltd | <a href="/legal">Legal</a>
                    </span>

                    <div class="md:place-self-center md:justify-self-end">
                        <div class="grid grid-flow-col gap-4">
                            <a href="https://twitter.com/BlueDwarfSpace">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    class="fill-neutral"
                                >
                                    <path
                                        d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
                                    >
                                    </path>
                                </svg>
                            </a>
                            <a
                                href="https://www.linkedin.com/company/bluedwarfspace"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="28"
                                    height="28"
                                    viewBox="0 0 32 32"
                                    class="fill-neutral"
                                >
                                    <path
                                        d="M 8.6425781 4 C 7.1835781 4 6 5.181625 6 6.640625 C 6 8.099625 7.182625 9.3085938 8.640625 9.3085938 C 10.098625 9.3085938 11.283203 8.099625 11.283203 6.640625 C 11.283203 5.182625 10.101578 4 8.6425781 4 z M 21.535156 11 C 19.316156 11 18.0465 12.160453 17.4375 13.314453 L 17.373047 13.314453 L 17.373047 11.310547 L 13 11.310547 L 13 26 L 17.556641 26 L 17.556641 18.728516 C 17.556641 16.812516 17.701266 14.960938 20.072266 14.960938 C 22.409266 14.960937 22.443359 17.145609 22.443359 18.849609 L 22.443359 26 L 26.994141 26 L 27 26 L 27 17.931641 C 27 13.983641 26.151156 11 21.535156 11 z M 6.3632812 11.310547 L 6.3632812 26 L 10.923828 26 L 10.923828 11.310547 L 6.3632812 11.310547 z"
                                    >
                                    </path>
                                </svg>
                            </a>
                            <a href="https://www.facebook.com/bluedwarfspace">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    class="fill-neutral"
                                >
                                    <path
                                        d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
                                    >
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </footer>
            </div>

            <div class="drawer-side">
                <label for="my-drawer-3" class="drawer-overlay"></label>
                <ul class="menu p-4 overflow-y-auto w-80 bg-base-100">
                    <!-- Sidebar content here -->
                    <li><a href="/about">About</a></li>
                    <li><a href="/mission">Mission</a></li>
                    <li><a href="/media">Media</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
